<!DOCTYPE html>
<html lang="en">
<%- include(projectroot + '/theme/includes/head.ejs') %>
<body>
  <%- include(projectroot + '/theme/includes/header.ejs') %>
      <div class="main">
        <%- content %>
        <%- include(projectroot + '/theme/includes/footer.ejs') %>
      </div>
</div>
</main>
</body>
</html>