<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Alchemy</title>
  <link rel="stylesheet" href="<%- site.root %>/assets/static/index.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap" rel="stylesheet">
</head>
<body>
  <header>
    <div>
      <h1>Alchemy. The <span>better</span> static site generator.</h1>
      <a href="#content" class="btn">Tell me more!</a>
      <a href="posts/docs.html" class="btn">Documentation</a>
    </div>
  </header>
  <main id="content">
    <section>
      <h2>What IS Alchemy?</h2>
      <p>
        Alchemy is a modern, extremely simple, and easy to customize <b>markdown-based</b> static site generator.
      </p><p>
        Built with node.js, markdown-it, and ejs, Alchemy allows for extremely simple content creation as well as rich templating support with layours and includes.
      </p>
    </section>
    <section>
      <h2>Another static site generator?</h2>
      <p>
        There are tons of awesome static site generators out there, like next.js, Gatsby, and Jekyll, all of which are absolutely awesome for what they do. Next.js and Gatsby are great for shipping React apps, and Jekyll for shipping Markdown apps.
      </p><p>
        While building a huge Jekyll site (thousands of pages), I was dissapointed with the difficulty of customization and the lousy performance when building. This problem triggered me to build my own simple and fast generator.
      </p>
    </section>
    <section>
      <h2>Simplicity at the core</h2>
      <p>
        No more databases, dashboards, moderation, HTML, CSS, or suffering. Focus on writing awesome content with Markdown and let Alchemy take care of the rest.
      </p>
    </section>
    <section>
      <h2>Powerful theming</h2>
      <p>
        Using our first-party themes or open-source themes from around the community, you don't need to touch CSS ever again. With premade themes for everything from blogs to documentation, we've got you covered.
      </p>
      <p>
        And if we don't, we make it easy to create and host your own themes!
      </p>
    </section>
    <section style="text-align:center;">
      <h2>Sounds good?</h2>
      <a href="posts/docs.html" class="btn">Documentation</a>
    </section>
  </main>
</body>
</html>