* {
  -webkit-appearance: none;
}
body {
  margin: 0;
  font-family: sans-serif;
  font-weight: 300;
  overscroll-behavior-y: none;
}
h1,
h2,
h3 {
  font-family: 'Lato', sans-serif;
}
h1 {
  padding-bottom: 15px;
  border-bottom: 10px solid red;
}
.wrapper {
  max-width: 1100px;
  padding: 0px 20px;
}
.site-header {
  padding: 0px 20px;
  border-bottom: 1px solid #e8e8e8;
  height: 60px;
  position: fixed;
  width: calc(100% - 40px);
  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 650px) {
  .site-header {
    height: 85px;
  }
}
.site-header .site-title {
  color: #424242;
  font-size: 26px;
  font-weight: 300;
  line-height: 54px;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;
}
.site-header img {
  max-height: 35px;
}
@media screen and (min-width: 560px) {
  .site-header img.logo-small {
    display: none;
  }
}
@media screen and (max-width: 559px) {
  .site-header img.logo-wide {
    display: none;
  }
}
.site-header a,
.site-header input {
  background: white;
  font-size: 16px;
  display: block;
  text-decoration: none;
  color: #424242;
  padding: 10px;
  transition: color 0.2s, background-color 0.2s;
  border-radius: 10px;
  border: 1px solid #e8e8e8;
  outline: none;
}
.site-header a:hover .autocompletions,
.site-header input:hover .autocompletions,
.site-header a:focus .autocompletions,
.site-header input:focus .autocompletions {
  display: initial;
}
.site-header a.sharpenBottom,
.site-header input.sharpenBottom {
  border-radius: 10px 10px 0 0;
}
.site-header a.menu,
.site-header input.menu {
  display: none;
}
@media screen and (max-width: 450px) {
  .site-header a.menu,
  .site-header input.menu {
    display: block;
  }
}
@media screen and (max-width: 625px) {
  .site-header a.download,
  .site-header input.download {
    display: none;
  }
}
.site-header .searchwrapper {
  position: relative;
  width: 30%;
}
@media screen and (min-width: 800px) {
  .site-header .searchwrapper {
    width: 45%;
  }
}
@media screen and (min-width: 1100px) {
  .site-header .searchwrapper {
    width: 60%;
  }
}
@media screen and (max-width: 560px) {
  .site-header .searchwrapper {
    width: 75%;
  }
}
@media screen and (max-width: 450px) {
  .site-header .searchwrapper {
    width: 60%;
  }
}
@media screen and (max-width: 410px) {
  .site-header .searchwrapper {
    width: 50%;
  }
}
@media screen and (max-width: 340px) {
  .site-header .searchwrapper {
    width: 40%;
  }
}
.site-header .searchwrapper input {
  width: calc(100% - 22px);
}
.site-header .searchwrapper .autocompletions {
  position: absolute;
  background: white;
  width: calc(100% - 22px);
  font-size: 16px;
  display: block;
  text-decoration: none;
  color: #424242;
  padding: 10px;
  transition: color 0.2s, background-color 0.2s;
  border-radius: 0 0 10px 10px;
  border: 1px solid #e8e8e8;
  outline: none;
  border-top-width: 0;
  display: none;
}
.site-header .searchwrapper .autocompletions a {
  margin-bottom: 5px;
}
.site-header .searchwrapper .autocompletions.show {
  display: block;
}
.nav {
  font-family: 'Lato', sans-serif;
  margin-top: 75px;
  height: calc(90vh);
  width: 200px;
  position: fixed;
  display: block;
}
@media screen and (max-width: 650px) {
  .nav {
    margin-top: 90px;
  }
}
@media screen and (max-width: 560px) {
  .nav {
    width: 100px;
  }
}
@media screen and (max-width: 450px) {
  .nav {
    display: none;
    outline: 20px solid white;
    width: calc(100% - 40px);
    background: white;
  }
  .nav.show {
    display: block;
  }
}
.nav a {
  display: block;
  text-decoration: none;
  color: #424242;
  padding: 10px;
  transition: color 0.2s, background-color 0.2s;
  border-radius: 10px;
  margin-bottom: 5px;
}
.nav a:hover,
.nav a:focus {
  background: #f4f7fe;
  color: #3367ff;
}
.main {
  padding-top: 75px;
  width: calc(100% - 220px);
  float: right;
  margin-left: 20px;
  margin-bottom: 20vh;
}
@media screen and (max-width: 650px) {
  .main {
    padding-top: 90px;
  }
}
@media screen and (max-width: 560px) {
  .main {
    width: calc(100% - 120px);
  }
}
@media screen and (max-width: 450px) {
  .main {
    width: calc(100%);
  }
}
.main li {
  margin: 10px 0px;
  line-height: 1.3;
}
.main a {
  text-decoration: none;
  color: #3367ff;
  transition: 0.3s;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 2px;
}
.main a:hover {
  background: #f4f7fe;
  color: #3367ff;
  border-color: #3367ff;
}
.main a.card {
  padding: 20px;
  margin: 0 5px 10px 0;
  display: inline-block;
  background: #f4f7fe;
  color: #3367ff;
  border-color: #3367ff;
}
.main a.card:hover {
  background: #3367ff;
  color: #f4f7fe;
  border-color: #3367ff;
}
.footer {
  height: 20vh;
}
code {
  background: #f4f7fe;
  color: #3367ff;
  border: 1px solid #3367ff;
  padding: 2px;
  border-radius: 4px;
}
code.hljs {
  border: none;
}
